.Container {
	flex: 1;
	overflow-y: scroll;
	white-space: pre-line;
}

.Doc-options {
	border-left: 1px solid black;
	padding: 20px 30px 0 30px;
	width: 440px;
}

main {
	height: 94%;
	display: flex;
}

table {
    width: 100%;
}