.Text-container {
	background-color:#fff;
	margin: 20px auto;
	white-space: pre-line;
	padding: 40px;
	max-width: 900px;
}

.Doc-container {
	flex: 1;
	overflow-y: scroll;
	background-color:#a1a9a5;
	height: 87vh;
}

.Doc-options {
	background-color:#fff;
	border-left: 2px solid #2c4366;
	padding: 20px 30px 0 30px;
	width: 480px;
}

.Tags-container {
	height: 500px;
	overflow-y: scroll;
}
