.editor {
	font-family: 'Archivo', monospace;
	background-color:#e9ebed;
	padding: 16px;
}

.text {
	background-color:#fff;
}

.options {
	background-color:#fff;
	height: 100%;
}

.section {
	padding: 10px 16px 0 16px;
}

.tags {
	height: 320px;
	overflow-y: scroll;
}