.editor {
	font-family: 'Archivo', monospace;
	background-color:#c7d7eb;

	display: flex;
	gap: 16px;
	justify-content: center;
	height: 100%;
}

.txtContainer {
	margin: 16px;
	margin-right: 0;
	width: 60%;
	max-width: 1000px;
	background-color:#fff;
}

.options {
	margin: 16px;
	margin-left: 0;
	background-color:#fff;
	width: 500px;
}

.section {
	padding: 10px 16px 0 16px;
}