
.table {
	width: 100%;
	padding: 0px;
	border-color: #000000;
}

.tableHeader {
	padding: 8px;
	text-align: left;
	font-size: 1.2rem;
}

.tableRow {
	padding-bottom: 1rem;
}

.tableRow:nth-child(even) {
	background-color: #dddddd5d;
  }

.tableCell {
	vertical-align: middle;
	padding: 0.4rem 1rem;
}


.link {
	text-decoration: none;
	font-size: 1.1rem;
	padding-right: 5rem;
}